body{
    background-color: bisque;
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: normal;
    line-height: 1.2em;
}

body h2, h3, h4, h5{
    text-decoration: underline;
}

.block{
    width: 800;
    height: 500px;
    position: relative;
    border: 5px solid red;

}
.block p{
    position:absolute;
    top: 10px;
    right: 500px;
}



.container{
    width: 80%;
    margin: auto;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button :hover{
    background: red;
    color: #fff;
}

.box-1{
    /* background-color: #333; */
    -moz-column-count: 5 !important;
    -moz-column-gap: 0px !important;
    -webkit-column-count: 5 !important;
    -webkit-column-gap: 0px !important;
    column-count: 5 !important;
    column-gap: 0px !important;
    list-style-type: none !important;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;

}

.list h4{
    text-decoration: underline;
}

.list{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.list li{
    padding-bottom: 6px;
}

a{
    text-decoration: none;
    color: black;
}
a:active{
    color: greenyellow;
}
a:hover{
    color:red; 
}
/* a:visited{
    color: blue;
} */

/* .block{
    float: left;
    width: 40%;
    border:1px solid #ccc ;
    padding: 10px;
    box-sizing: border-box;

} */